<h1>Formulario Angular+Laravel</h1>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    <div class="row mb-3">
        <label for="correo" class="col-sm-2 col-form-label">
            Correo Electronico </label>
                <div class="col-sm-10">
                    <input type="email" formControlName="correo" class="form-control" >
                    <span class="form-text text-danger" *ngIf="Valido('correo')">Tu correo debe ser valido</span>
                </div>
    </div>
    <div class="row mb-3">
        <label for="nombre" class="col-sm-2 col-form-label">
            Nombre
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="nombre" >
            <span class="form-text text-danger" *ngIf="Valido('nombre')">Debe contener al menos 3 caracteres</span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="apellido" class="col-sm-2 col-form-label">
            Apellidos
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="apellido" >
            <span class="form-text text-danger" *ngIf="Valido('apellido')">Debe tener al menos 3 caracteres</span>
        </div>
    </div>
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Como nos conociste</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" value="option1">
                <label class="form-check-label" for="gridRadios1">
                    Facebook
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" value="option2">
                <label class="form-check-label" for="gridRadios2">
                    Instagram
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" value="option3">
                <label class="form-check-label" for="gridRadios3">
                    Otros
                </label>
            </div>
        </div>
    </fieldset>
    
    <button type="submit" class="btn btn-primary" (click)="guardar()">Darme de alta</button>
</form>

